/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
.clear {
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66665E;
}

body.withbg {
	
}

html, body {
	height: 100%;
}

.headerContainer {
    background: #cc3300;
    background-size: cover;
	/*position: fixed;*/ /*Removed by Jasper, to fix layout */
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 1;
}

.theme-2016 .headerContainer {
	background: url('../images/themes/2016/header.jpg') no-repeat;
}
.theme-2016 #footer {
	background: url("../images/themes/2016/footer.png") no-repeat;
}

h1, h2, h3, .header {
	margin: 0;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #cc3300;
}

h1, .headerh1 {
	font-size: 32px;
}

a {
	color: #cc3300;
}

a:hover {
	text-decoration: none;
}

span.team ,
span.deelgebied {
	display: block;	
}

span.deelgebied {
	font-size: 32px;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

.wrapper {
	min-height: 100%;
	width: 980px;
	margin: 0 auto;
}

/* Menu */
#header {
	width: 100%;
}

#userInfoBox {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-color: #cc3300;
    background-color: white;
    z-index: 100;
}

#menu { 
	margin-left: 70px;
}

#menu ul.menu_container {
	margin: 0 auto;
	max-width: 770px;
	
	padding: 0;
	
	height: 70px;
	overflow: hidden;
        
        position: relative;
}

#menu ul.menu_container.extendedMenu {
	height: auto;
}

#menu li.clear {
	height: 0;
	list-style: none;
}

#menu li.menu_item {
	display: block;
	float: left;
	position: relative;
	height: 50px;
	width: 50px;
	padding: 10px;
}



	#menu li.menu_item:hover {
		background-color: #ffcc00;
	}
	
	#menu li.menu_item a {
		display: block;
		height: 50px;
		background: no-repeat center center;
		background-size: 100%;
                
                /*box-shadow: 10px 10px 5px #888888;*/
                
                -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.8));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	}

	#menu li.berichtenItem a {
		background-image: url("../images/menu/berichten.png");
	}

	#menu li.vossenItem a {
		background-image: url("../images/menu/vossen.png");
	}

	#menu li.huntsItem a {
		background-image: url("../images/menu/hunts.png");
	}

	#menu li.huntersItem a {
		background-image: url("../images/menu/hunters.png");
	}
	
	#menu li.opzienersItem a {
		background-image: url("../images/menu/opziener.png");
	}

	#menu li.telItem a {
		background-image: url("../images/menu/telefoonnummers.png");
	}
	
	#menu li.alarmItem a {
		background-image: url("../images/menu/alarm.png");
	}
	
	#menu li.fullscreenItem a {
		background-image: url("../images/menu/beamer.png");
	}

	#menu li.mapItem a {
		background-image: url("../images/menu/fullscreen.png");
	}
	
	#menu li.adminItem a {
		background-image: url("../images/menu/admin.png");
	}
	
	#menu li.logoutItem a {
		background-image: url("../images/menu/logout.png");
	}
	
	#menu li.showMenuItem {
		display: none;
		position:absolute;
		right:0;
		top:0;
	}
	
	#menu li.showMenuItem a {
		background-image: url("../images/menu/menu.png");
	}

#menu a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 40px;
	height: 40px;
	color: #FFFFFF;
	padding: 0;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .current_page_item a {
	background: #cc3300;
}

#menu .first {
	background: none;
}

/* Sub Menu */
#menu ul.submenu_container {
	display: none;
	position: absolute;
	padding: 5px;
	z-index:10;
	overflow: hidden;
}

#menu li.submenu_item {
	display: block;
}

/* Page */
#page {
	/* changed top from 70px to 0, to match removing position:fixed in .headerContainer */
	margin: 0 20px 20px 20px;
}

.noHeaderFooter #page {
	margin: 0;
}

#page-bgtop {
	padding-top: 30px;
	padding-bottom: 30px;
}

/** LOGO */
#logo {
	float:left;
}

#logo img {
	width: 70px;
}

#logo a {
	height: auto;
	width: auto;
}

#logo h1, #logo p, #logo a {
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	font-size: 10px;
}

#logo em {
	margin-left: 10px;
}

#logo h1 {
	padding-top: 54px;
	font-size: 34px;
}

#logo a {
	text-decoration: none;
}

#footer {
	background: #cc3300;
    background-position-y: -265px;
    background-size: cover;
	height: 25px;
	padding-top: 20px;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #E5FFC4;
}

/* Content */
#content {
	padding-top: 10px;
}

#vos_lijst {
	padding: 0 20px;
	display: inline-block;
	width: 360px;
	float: left;
}

#rondeForm {
	padding: 0 20px 20px 20px;
	display: inline-block;
	width: 360px;
	float: left;
}

.startRonde .label {
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}

.startRonde .rondes {
	text-align: center;
}

.startRonde .rondeNummer {
	min-width:30px;
	height: 30px;
	padding: 0 5px;
	
	display: inline-block;
	background-color: #707f55;
	
	text-align: center;
	line-height: 30px;
	
	color: #FFFFFF;
	
	text-decoration: none;
	
	font-size: 14px;
	border-radius: 10px;
}

.startRonde .rondeNummer.actief {
	background-color: #09201d;
}

#mapcontainer {
	display: inline-block;
	width: 100%;
	max-width: 800px;
	float: left;
}

#voscontainer {
	clear: both;
	display: block;
}

.alarmPaginaVossenContainer .header {
    color: #FFFFFF;
}

#inlogButton {
	position: absolute;
	top: 14px;
	right: 14px;
	display: none;
}

#logbox {
	color: #66665E;
	position: absolute;
	top: 14px;
	right: 14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
	background-color: rgba(111, 126, 82, 1);
}

#logbox a {
	color: #66665E;
}

.rondeKeuzeContainer {
	display: none;
}

.showRondeBtn {
	font-weight: bold;
	cursor: pointer;
}

/* alarmpagina */
div.bericht {
	border: 1px dotted black;
}

div.bericht p.datum {
	font-size: 11px;
	padding: 0;
}

div.bericht.hint h2 {
	color: #539b2b;
}

div.bericht.hint {
	border-left: 10px solid #539b2b;
	padding: 10px;
}

div.bericht.nieuws {
	border-left: 10px solid red;
	padding: 10px;
}

div.bericht.opdracht h2 {
	color: orange;
}

div.bericht.opdracht {
	border-left: 10px solid orange;
	padding: 10px;
}

div.bericht div.info, div.bericht div.infogroep {
	height: 20px;
}

div.bericht div.infogroep div {
	width: 48%;
	float: left;
	padding-left: 10px;
}

div.bericht div.info div {
	width: 265px;
	float: left;
	padding-left: 10px;
}

div.bericht div.info div.link {
	width: 100px;
	text-align: center;
}

div.bericht div.info div.link a {
	font-weight: bold;
	color: orange;
}

div.groep {
	background: #333;
	border: 1px solid white;
	padding: 5px;
	margin: 20px 0 0 0;
}

div.groep p {
	margin: 0;
	padding: 5px 0;
}

a.rood {
	background: #FF0000;
	background: -moz-linear-gradient(top, #FF0000, #9C0000);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF0000),
		to(#9C0000));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FF0000',
		EndColorStr='#9C0000', GradientType=0);
}

td.rood {
	box-shadow: rgba(255, 0, 0, 0.7) 0px 0px 8px 3px;
	-webkit-box-shadow: rgba(255, 0, 0, 0.7) 0px 0px 8px 3px;
	-moz-box-shadow: rgba(255, 0, 0, 0.7) 0px 0px 8px 3px;
}

a.oranje {
	background: #FF9100;
	background: -moz-linear-gradient(top, #FF9100, #BD6B00);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9100),
		to(#BD6B00));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FF9100',
		EndColorStr='#BD6B00', GradientType=0);
}

td.oranje {
	box-shadow: rgba(255, 145, 0, 0.7) 0px 0px 8px 3px;
	-webkit-box-shadow: rgba(255, 145, 0, 0.7) 0px 0px 8px 3px;
	-moz-box-shadow: rgba(255, 145, 0, 0.7) 0px 0px 8px 3px;
}

a.groen {
	background: #1AFF00;
	background: -moz-linear-gradient(top, #1AFF00, #0F9600);
	background: -webkit-gradient(linear, left top, left bottom, from(#1AFF00),
		to(#0F9600));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#1AFF00',
		EndColorStr='#0F9600', GradientType=0);
}

td.groen {
	box-shadow: rgba(26, 255, 0, 0.7) 0px 0px 8px 3px;
	-webkit-box-shadow: rgba(26, 255, 0, 0.7) 0px 0px 8px 3px;
	-moz-box-shadow: rgba(26, 255, 0, 0.7) 0px 0px 8px 3px;
}

a.wit {
	background: #FFFFFF;
}

td.wit {
	box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 8px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 8px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 8px 3px;
}

td.rood h1, td.rood a {
	color: #000000;
}

td.groen h1, td.groen a {
	color: #000000;
}

td.oranje h1, td.oranje a {
	color: #000000;
}

td.wit h1, td.wit a {
	color: #000000;
}

/* Hunts editor */
.goedkeuren {
	margin-right: 20px;
}

.errorMsg {
	color: red;
	font-size: 10px;
}


.errorMsg2 {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
}

.jotihuntBanner {
	text-align: center;
}

.jotihuntBanner img {
    width: 100%;
    max-width: 560px;
}

/* Berichten */
.berichten div.bericht {
	float: left;
	width: 210px;
	height: 200px;
	background: #CCCCCC;
	border: 0;
	margin: 5px;
	padding: 5px;
	position: relative;
}

.berichten div.bericht .titel {
	margin-bottom: 5px;
}

.berichten div.bericht .titel a {
	color: #000000;
}

.berichten div.bericht.nieuws {
	border-left: 10px solid orange;
}

.berichten div.bericht.nieuws .titel {
	background: orange;
}

.berichten div.bericht.opdracht {
	border-left: 10px solid #4c7303;
}

.berichten div.bericht.opdracht .titel {
	background: #4c7303;
}

.berichten div.bericht.hint {
	border-left: 10px solid #024d52;
}

.berichten div.bericht.hint .titel {
	background: #024d52;
}

.berichten div.titel {
	text-align: center;
	padding: 5px;
	color: black;
}

.berichten div.type {
	float: left;
}

.berichten div.datum {
	float: right;
}

.berichten div.inhoud {
	margin-top: 5px;
	height: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.berichten div.einddatum {
	background: #990000;
	color: white;
	text-align: center;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 210px;
}

.hintPart {
	display: inline-block;
}

/* VOSSEN */
.vossenMenuContainer {
	width: 780px;
	margin: 0 auto;
}

.vossenContainer .vossenMenuItem {
	float: left;
	text-align:center;
	margin: 5px 10px;
	padding: 5px 10px;
}

	.vossenContainer .vossenMenuItem a {
		text-decoration: none;
	}

	.vossenContainer .currentTeam {
		background: #0ab630;
		background: -moz-linear-gradient(top, #0ab630, #0ac834);
		background: -webkit-gradient(linear,left top, left bottom, from(#0ab630),to(#0ac834)); filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#0ab630', EndColorStr='#0ac834', GradientType=0);
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px 3px;-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px 3px;
		border-radius: 8px 8px 8px 8px;-webkit-border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;
	}
	
.vossenContainer #map {
	float: left; 
	width: 100%; 
	height: 600px;
}

.vossenContainer .stepContainer {
	margin-bottom: 20px;
}

.vossenContainer .voegLocatieToe {
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;
	color: #cc3300;
	float: left;
	padding: 5px;
}

.vossenContainer #locform {
	display: none;
}

.vossenContainer .wijzigRondeBtn {
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;
	color: #cc3300;
	float: left;
	padding: 5px;
}

.vossenContainer .invoerlink {
	font-weight: bold;
    cursor: pointer;
    color: #cc3300;
    margin-bottom: 10px;
    padding: 0 5px;
    text-decoration: none;
    display: block;
}

.vossenContainer .invoerlink:hover {
	text-decoration: underline;
}

.vossenContainer #rondeForm {
	display: none;
}

.vossenContainer .heading {
	font-size: 18px;
	color: #cc3300;
}

.vossenContainer .optieContainer {
	margin: 10px 0;
}

.vossenContainer .locatieToevoegenLabel {
	font-weight: bold;
}

	.vossenContainer .locatieToevoegenLabel .smallLabel {
		font-weight: normal;
		font-size: 12px;
	}
	
.vossenContainer .rdContainer input[type=text],
.vossenContainer .latLongContainer input[type=text] {
	width: 80px;
}

.vossenContainer .adresContainer input[type=text] {
	width: 166px;
}

.vossenContainer #mapcenter {
	display: none;
	background: url("../images/crosshair.png") no-repeat; 
	width: 25px; 
	height: 25px; 
	z-index: 1000; 
	position: absolute; 
	top: 286px; 
	left: 388px;
}

.vossenContainer .stepThreeContainer input[type=text] {
	width: 70px;
}

.vossenContainer .stepFourContainer .label {
	font-weight: bold;
}

#hunters,
#newloc {
	margin-bottom: 10px;
}

#hunters .label,
#newloc .label {
	font-weight: bold;
}

.vossenContainer #newloc a {
	text-decoration: none;
}


.invoerLeft, .invoerRight {
	display: block;
	min-width: 500px;
	width: 50%;
	float: left;
	position: relative;
}
.invoerRight {
	min-height: 480px;
	display: none;
}
.invoerLeft {
	float: none;
	margin: 0 auto;
}
.invoerForm {
	width: 100%;
	position: relative;
}
.invoerItem.tijd {
	margin-bottom: 5px;
}
.invoerItem .invoerRD, .invoerItem .invoerLL, .invoerItem .invoerAdres, .invoerItem .invoerTijd {
	width: 50px;
	margin-right: 5px;
}
.invoerItem > .inner {
	padding-right: 20px;
	position: relative;
	display: inline-block;
}
.invoerItem.success > .inner:after {
	content:'\2713';
  	display:inline-block;
  	color:orange;
  	font-weight: bold;
  	font-size: 18px;
  	position: absolute;
  	right: 0px;
  	top: -4px;
  	padding: 0 6px;
}
.invoerItem.fail > .inner:after {
	content:'\2717';
  	display:inline-block;
  	color:red;
  	font-weight: bold;
  	font-size: 18px;
  	position: absolute;
  	right: 0px;
  	top: -4px;
  	padding: 0 6px;
}
.invoerItem.blue > .inner:after {
	color: blue;
}
.invoerItem .invoerTijd {
	width: 66px;
}
.invoerItem .invoerLL {
	width: 25px;
	margin-right: 2px;
}
.invoerItem .invoerAdres {
	width: 200px;
}
.invoerInputLabel {
	display: inline-block;
	min-width: 50px;
}
.invoerHidden {
	display: inline-block;
}
.invoerSaveButtons {
	padding-top: 20px;
	display: block;
	text-align: center;
	position: relative;
}
.invoerSaveButtons .inner {
	display: inline-block;
}
.invoerTransferButton {
	position: absolute;
	right: 20px;
	top: 20px;
}
.invoerTransferButton a, .invoerSaveButtons a {
	color: #fff;
	background-color: #415F00;
	text-decoration: none;
	padding: 5px 10px;
	font-size: 14px;
}
.invoerTransferButton a {
	display: none;
}
.invoerSaveButtons .check {
	margin-right: 15px;
}
.invoerTransferButton a:hover, .invoerSaveButtons a:hover {
	background-color: #2B3E01;
}
.invoerSaveButtons .disabled, .invoerSaveButtons .disabled:hover {
	background-color: #9A9C94;
	cursor: not-allowed;
}
.invoerResponse {
	display: block;
	clear: both;
	font-family: 'Courier', serif;
	font-size: 12px;
	padding: 12px;
	max-height: 400px;
	overflow-y: auto;
}