; Required environment variables
; Database must be PostgreSQL at the moment
[database]
;database_url = postgres://username:password@hostname:port/database-name

; Strongly recommended environment variables
[google]
;google-js-api-key = 
;google-analytics-key = 
;google-gcm-api-key = 

;# Optional environment variables
[mailgun]
;mailgun-api-key = 
;mailgun-api-domain = 
;mailgun-from-email = 

[proximo]
;promimo-user = 
;promimo-pass = 
;promimo-host = 

[jotihunt]
; site-show-errors = true
; dev-mode = true
; proxy-server-port
; proxy-base-url
; redirect-to-https

; api-token = your-jotihunt.net-api-token

; site-title = Your site title here
; site-description = Your site meta-description here
; site-keywords = Your site meta-keywords here
; welcome-message = 'Your message here'

; Very optional, you pick a theme from the "old days"
; Most of these are Roothaan specific, but have fun :-)
; possible combinations:
; 2011|4, 2012|2, 2013|4, 2014|3, 2015|1, 2016|1, 2017|1, 2018|1
[theme]
;name = 
;logos =
